@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	
	background-color: #141E61;
	color: white;
}
form.form1{
	width: 680px;
	height: 504px;
	text-align: center;

	margin: 7px 298px;
	background-color: #787A91;
	color: white;
	border: solid;
	border-color: #EEEEEE;

	padding-left: 10px;
}
	

form > textarea{
width: 264px;
height: 100px;
margin: -15px 78px;
}


div.formu > h1{
	text-align: center;
	background-color: #0F044C;
	width: 99,99%;
	height: 80px;
	padding-top: 18px;
	border: solid;
	
	border-color: #EEEEEE;
	
}
input.botton {
	width: 90px;
	height: 40px;
	margin-top: 18px;
	color: white;
	background-color: #141E61;
	border-color: #3F0071;
	border-radius: 6px;
	
}
div.formu{
	text-align: center;
	margin: -20px 0px;
}
