*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: #c4c4c4;
}
.center{
    width: 1280px;
    margin: 0px auto;
}
.header{
    width: 100%;
    height: 60px;
    background-color: #3042ea;
}
div.menu a{
   text-decoration: none;
   color: black;
}
div.menu ul{
    position: relative;
    top:  4px;
    text-align: right;
    list-style-type: none;
    
}

div.menu li{
    display: inline-block;
    font-size: 17px;
    padding: 0 15px;
}
div.falecomigo a{
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    color: black;
    margin-top: 10px;
}
div.falecomigo{
    width: 160px;
    height: 50px;
    background-color: #3042ea;
    border-color: #3042ea;
    border-style: solid;
    border-radius: 28px;
} 
.falecomigo{
    text-align: center;
    margin-top: 320px;
    margin-left: 600px;
}
div.tecnologias{
    width: 100%;
    height: 488px;
    margin-top: 55px;
    background-color: #3042ea;
}
div.tec{
    width: 120px;
    height: 120px;
    margin-top: 120px;
    
    border-color: #3042ea;
    border-style: solid;
    border-radius: 90px;
    background-color: #c4c4c4;
    list-style-type: none;
}
.listaTec{
    position: relative;
    top:  60px;
    text-align: center;
    list-style-type: none;
}
.itemTec{
    display: inline-block;
    font-size: 17px;
    padding: 0 15px;
}
div.projetos{
    width: 100%;
    height: 488px;
    margin-top: 55px;
    background-color: #c4c4c4;
}
div.projec{
    width: 140px;
    height: 160px;
    margin-top: 55px;
    margin-bottom: -20px;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 10px;
    background-color: #3042ea;
    list-style-type: none;
    
}
.listaProjec{
    position: relative;
    top:  4px;
    text-align:center;
    list-style-type: none;
}
.itemProjec{
    display: inline-block;
    font-size: 17px;
    padding: 0 55px;
    text-align: center;
   
}
div.contato{
    width: 100%;
    height: 388px;
    margin-top: 55px;
    background-color: #3042ea;
}
div.cont{
    width: 220px;
    height: 140px;
    margin-top: 120px;
    border-color: #3042ea;
    border-style: solid;
    border-radius: 34px;
    background-color: #c4c4c4;
    list-style-type: none;
}
.listaContato{
    position: relative;
    top:  4px;
    text-align: center;
    list-style-type: none;
}
.itemContato{
    display: inline-block;
    font-size: 17px;
    padding: 0 80px;
}
div.rodape{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    background-color: #c4c4c4;
}
.footer{
    text-align: center;
    margin-top: 40px;
}
.tecNome{
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: white;
}

.proNome{
    position:absolute;
  
    margin-top: 30px;
    margin-left: 30px;
    margin-right: -3px;
    margin-bottom: 30px;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    color: black;
    
}
.proNome1{
    position:absolute;
    margin-top: 30px;
    margin-left: -8px;
    margin-right: -3px;
    margin-bottom: 30px;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    color: black;
}
.proNome2{
    position:absolute;
    margin-top: 30px;
    margin-left: -30px;
    margin-right: -3px;
    margin-bottom: 30px;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    color: black;
}
.proNome3{
    position:absolute;
    margin-top: 30px;
    margin-left: 2px;
    margin-right: -3px;
    margin-bottom: 30px;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    color: black;
}
.contNome{
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: white;
}
